<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.mapper.UploadFilesMapper" >
  <resultMap id="BaseResultMap" type="com.boot.entity.UploadFiles" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="md5" property="md5" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="folder" property="folder" jdbcType="VARCHAR" />
    <result column="depot" property="depot" jdbcType="VARCHAR" />
    <result column="suffix" property="suffix" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="upload_date" property="uploadDate" jdbcType="TIMESTAMP" />
    <result column="download_sum" property="downloadSum" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="is_collect" property="isCollect" jdbcType="BIT" />
    <result column="is_recycle" property="isRecycle" jdbcType="BIT" />
    <result column="is_safe" property="isSafe" jdbcType="BIT" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, md5, name, folder, depot, suffix, type, size, upload_date, download_sum, path, 
    is_collect, is_recycle, is_safe, modified_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.boot.entity.UploadFilesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from upload_files
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from upload_files
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from upload_files
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.boot.entity.UploadFilesExample" >
    delete from upload_files
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boot.entity.UploadFiles" >
    insert into upload_files (id, md5, name, 
      folder, depot, suffix, 
      type, size, upload_date, 
      download_sum, path, is_collect, 
      is_recycle, is_safe, modified_date
      )
    values (#{id,jdbcType=VARCHAR}, #{md5,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{folder,jdbcType=VARCHAR}, #{depot,jdbcType=VARCHAR}, #{suffix,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{size,jdbcType=BIGINT}, #{uploadDate,jdbcType=TIMESTAMP}, 
      #{downloadSum,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{isCollect,jdbcType=BIT}, 
      #{isRecycle,jdbcType=BIT}, #{isSafe,jdbcType=BIT}, #{modifiedDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boot.entity.UploadFiles" >
    insert into upload_files
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="folder != null" >
        folder,
      </if>
      <if test="depot != null" >
        depot,
      </if>
      <if test="suffix != null" >
        suffix,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="uploadDate != null" >
        upload_date,
      </if>
      <if test="downloadSum != null" >
        download_sum,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="isCollect != null" >
        is_collect,
      </if>
      <if test="isRecycle != null" >
        is_recycle,
      </if>
      <if test="isSafe != null" >
        is_safe,
      </if>
      <if test="modifiedDate != null" >
        modified_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="folder != null" >
        #{folder,jdbcType=VARCHAR},
      </if>
      <if test="depot != null" >
        #{depot,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null" >
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="uploadDate != null" >
        #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="downloadSum != null" >
        #{downloadSum,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="isCollect != null" >
        #{isCollect,jdbcType=BIT},
      </if>
      <if test="isRecycle != null" >
        #{isRecycle,jdbcType=BIT},
      </if>
      <if test="isSafe != null" >
        #{isSafe,jdbcType=BIT},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boot.entity.UploadFilesExample" resultType="java.lang.Integer" >
    select count(*) from upload_files
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update upload_files
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.md5 != null" >
        md5 = #{record.md5,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.folder != null" >
        folder = #{record.folder,jdbcType=VARCHAR},
      </if>
      <if test="record.depot != null" >
        depot = #{record.depot,jdbcType=VARCHAR},
      </if>
      <if test="record.suffix != null" >
        suffix = #{record.suffix,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=BIGINT},
      </if>
      <if test="record.uploadDate != null" >
        upload_date = #{record.uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.downloadSum != null" >
        download_sum = #{record.downloadSum,jdbcType=INTEGER},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.isCollect != null" >
        is_collect = #{record.isCollect,jdbcType=BIT},
      </if>
      <if test="record.isRecycle != null" >
        is_recycle = #{record.isRecycle,jdbcType=BIT},
      </if>
      <if test="record.isSafe != null" >
        is_safe = #{record.isSafe,jdbcType=BIT},
      </if>
      <if test="record.modifiedDate != null" >
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update upload_files
    set id = #{record.id,jdbcType=VARCHAR},
      md5 = #{record.md5,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      folder = #{record.folder,jdbcType=VARCHAR},
      depot = #{record.depot,jdbcType=VARCHAR},
      suffix = #{record.suffix,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      size = #{record.size,jdbcType=BIGINT},
      upload_date = #{record.uploadDate,jdbcType=TIMESTAMP},
      download_sum = #{record.downloadSum,jdbcType=INTEGER},
      path = #{record.path,jdbcType=VARCHAR},
      is_collect = #{record.isCollect,jdbcType=BIT},
      is_recycle = #{record.isRecycle,jdbcType=BIT},
      is_safe = #{record.isSafe,jdbcType=BIT},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.entity.UploadFiles" >
    update upload_files
    <set >
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="folder != null" >
        folder = #{folder,jdbcType=VARCHAR},
      </if>
      <if test="depot != null" >
        depot = #{depot,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null" >
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="uploadDate != null" >
        upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="downloadSum != null" >
        download_sum = #{downloadSum,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="isCollect != null" >
        is_collect = #{isCollect,jdbcType=BIT},
      </if>
      <if test="isRecycle != null" >
        is_recycle = #{isRecycle,jdbcType=BIT},
      </if>
      <if test="isSafe != null" >
        is_safe = #{isSafe,jdbcType=BIT},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boot.entity.UploadFiles" >
    update upload_files
    set md5 = #{md5,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      folder = #{folder,jdbcType=VARCHAR},
      depot = #{depot,jdbcType=VARCHAR},
      suffix = #{suffix,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      size = #{size,jdbcType=BIGINT},
      upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      download_sum = #{downloadSum,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      is_collect = #{isCollect,jdbcType=BIT},
      is_recycle = #{isRecycle,jdbcType=BIT},
      is_safe = #{isSafe,jdbcType=BIT},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>