<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.mapper.DepotMapper" >
  <resultMap id="BaseResultMap" type="com.boot.entity.Depot" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="used_capacity" property="usedCapacity" jdbcType="BIGINT" />
    <result column="max_capacity" property="maxCapacity" jdbcType="BIGINT" />
    <result column="buy_capacity" property="buyCapacity" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, used_capacity, max_capacity, buy_capacity
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.boot.entity.DepotExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from depot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from depot
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from depot
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.boot.entity.DepotExample" >
    delete from depot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boot.entity.Depot" >
    insert into depot (id, used_capacity, max_capacity, 
      buy_capacity)
    values (#{id,jdbcType=VARCHAR}, #{usedCapacity,jdbcType=BIGINT}, #{maxCapacity,jdbcType=BIGINT}, 
      #{buyCapacity,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.boot.entity.Depot" >
    insert into depot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="usedCapacity != null" >
        used_capacity,
      </if>
      <if test="maxCapacity != null" >
        max_capacity,
      </if>
      <if test="buyCapacity != null" >
        buy_capacity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="usedCapacity != null" >
        #{usedCapacity,jdbcType=BIGINT},
      </if>
      <if test="maxCapacity != null" >
        #{maxCapacity,jdbcType=BIGINT},
      </if>
      <if test="buyCapacity != null" >
        #{buyCapacity,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boot.entity.DepotExample" resultType="java.lang.Integer" >
    select count(*) from depot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update depot
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.usedCapacity != null" >
        used_capacity = #{record.usedCapacity,jdbcType=BIGINT},
      </if>
      <if test="record.maxCapacity != null" >
        max_capacity = #{record.maxCapacity,jdbcType=BIGINT},
      </if>
      <if test="record.buyCapacity != null" >
        buy_capacity = #{record.buyCapacity,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update depot
    set id = #{record.id,jdbcType=VARCHAR},
      used_capacity = #{record.usedCapacity,jdbcType=BIGINT},
      max_capacity = #{record.maxCapacity,jdbcType=BIGINT},
      buy_capacity = #{record.buyCapacity,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.entity.Depot" >
    update depot
    <set >
      <if test="usedCapacity != null" >
        used_capacity = #{usedCapacity,jdbcType=BIGINT},
      </if>
      <if test="maxCapacity != null" >
        max_capacity = #{maxCapacity,jdbcType=BIGINT},
      </if>
      <if test="buyCapacity != null" >
        buy_capacity = #{buyCapacity,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boot.entity.Depot" >
    update depot
    set used_capacity = #{usedCapacity,jdbcType=BIGINT},
      max_capacity = #{maxCapacity,jdbcType=BIGINT},
      buy_capacity = #{buyCapacity,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>